/* Pandas dataframe */
thead tr th:first-child {
    display:none
}

tbody th {
    display:none
}

/* FASTA text */
.css-7oyrr6.euu6i2w0 {
    display: none;
}

.css-9ycgxx.exg6vvm12 {
    display: none;
}

.css-u8hs99.exg6vvm14 {
    display: none;
}

/* Settings */
#MainMenu {
    visibility: hidden;
}

header {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

.block-container {
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
}